#phone-agenda {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 45px;
}

#phone-agenda td, #phone-agenda th {
    border: 1px solid #ddd;
    padding: 8px;
}

#phone-agenda tr:nth-child(even){background-color: #f2f2f2;}

#phone-agenda tr:hover {background-color: #ddd;}

#phone-agenda th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}